<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsp0AXmQkYUPPDvtp-jw90LF65dXnek-A</string>
	<key>GCM_SENDER_ID</key>
	<string>570429745595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.apnokiawaj</string>
	<key>PROJECT_ID</key>
	<string>apno-ki-awaj-khn7uu</string>
	<key>STORAGE_BUCKET</key>
	<string>apno-ki-awaj-khn7uu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570429745595:ios:8d5b146e5642396025bc9e</string>
</dict>
</plist>